DJANGO_DEBUG=False
TEMPLATE_DEBUG=False
#USE_X_FORWARDED_HOST=True

DJANGO_SECRET_KEY=your_django_secret_key_here
DJANGO_SESSION_COOKIE_AGE=604800
DJANGO_ALLOWED_HOSTS=.yourdomain.com .yourdomain.internal
KPI_PREFIX=/

SESSION_COOKIE_DOMAIN=".yourdomain.com"

CELERY_BROKER_URL=redis://:your_redis_password@your-redis-host.com:6379/1
CELERY_AUTOSCALE_MIN=2
CELERY_AUTOSCALE_MAX=6

# Comma separated domains
SERVICE_ACCOUNT_WHITELISTED_HOSTS=kobo.subdomain.yourdomain.internal,kobocat.subdomain.yourdomain.internal

# See "api key" here: https://github.com/kobotoolbox/enketo-express/tree/master/config#linked-form-and-data-server.
ENKETO_API_KEY=your_enketo_api_key_here

# The initial superuser's username.
KOBO_SUPERUSER_USERNAME=admin
# The initial superuser's password.
KOBO_SUPERUSER_PASSWORD=your_superuser_password
# The e-mail address where your users can contact you.
KOBO_SUPPORT_EMAIL=admin@yourdomain.com

KOBOFORM_URL=https://kobo.subdomain.yourdomain.com
KOBOFORM_INTERNAL_URL=http://kobo.subdomain.yourdomain.internal # Always use HTTP internally.
ENKETO_URL=https://enketo.subdomain.yourdomain.com
ENKETO_INTERNAL_URL=http://enketo.subdomain.yourdomain.internal # Always use HTTP internally.
KOBOCAT_URL=https://kobocat.subdomain.yourdomain.com
KOBOCAT_INTERNAL_URL=http://kobocat.subdomain.yourdomain.internal # Always use HTTP internally.